body {    
    background-color: #f5f4f0;

    font-family: 'Montserrat', sans-serif;
    color: #0f3a13;

    justify-content: center;
    align-items: center;
    text-align: center;

    min-height: 100vh;
    padding: 20px;

    width: 550px;
}

header {
    margin-bottom: 40px;
}

.head {
    font-family: 'Londrina Outline', cursive;
    font-size: 4rem;

    color: #5ce76a;

    margin-bottom: 10px;
}


.head span {
    display: inline-block;
    animation: letterJump 2s ease-in-out infinite;
}

@keyframes letterJump {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px); 
        color: #0f3a13; 
    }
}


.joke_container {
    background-image: url("./paper.jpg");
    zoom: 1.2;

    border-radius: 30px;
    box-shadow: 0 15px 35px #445446;

    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;

    padding: 40px;
}

.button {
    margin-top: 30px;
    padding: 10px 20px;

    font-size: 1.2rem;
    color: #0f3a13;
    background-color: #5ce76a;

    border: none;
    border-radius: 8px;
    cursor: pointer;
}